@use '../../../../../style/mixin' as *;

:host {
  & .mat-expansion-panel {
    z-index: 1000 !important;
    & .mat-mdc-card {
      padding: 1rem 0.5rem 1rem 0.5rem;
      & form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & .date-input-ctnr {
        display: flex;
        gap: 1rem;

      & .mat-calendar {
        z-index: 9999 !important;
      }

      }

      & .selectors-ctnr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
        & .select-label-ctnr {
          display: flex;
          flex-direction: column;

        }
      }
      & .submit-container {
        display: flex;
        justify-content: center;
      }
    }
    }

  }
}

@media (max-width: 1000px) {
:host {
  & .mat-expansion-panel {
    & .mat-mdc-card {

      & form {
      gap: 0.5rem;
      & .date-input-ctnr {
        display: flex;
        justify-content: space-between;
        & .date-range-icon {
          display: none !important;
        }
      & .mat-calendar {
      }

      & .date-before {
        width: 7rem;
        & span {
          font-size: 0.7rem;
        }
      }

      & .date-after {
        width: 7rem;
        & span {
          font-size: 0.7rem;
        }
      }
      }

      & .selectors-ctnr {
        padding: 0;
        & .select-label-ctnr {
          & label {
           font-size: 0.8rem;
          }
          & select {
            width: 5rem;
            font-size: 1rem;
            & option {
              font-size: 1rem;
            }
          }
        }
      }
      & .submit-container {
        & button {
        font-size: 0.65rem !important;
        height: 1.5rem;
        width: 5rem;
        min-width: unset !important;
        }
      }
    }
    }

  }
}
}

@media (max-width: 750px) {
:host {
  & .mat-expansion-panel {
    & .mat-mdc-card {

      & form {

      & .date-input-ctnr {

        & .date-range-icon {

        }
      & .mat-calendar {
      }

      & .date-before {

        & span {

        }
      }

      & .date-after {

        & span {

        }
      }
      }

      & .selectors-ctnr {

        & .select-label-ctnr {
          & label {

          }
          & select {

            & option {

            }
          }
        }
      }
      & .submit-container {
        & button {

        }
      }
    }
    }

  }
}
}

@media (max-width: 650px) {
:host {
  & .mat-expansion-panel {
    & .mat-mdc-card {

      & form {

      & .date-input-ctnr {
        & .date-range-icon {

        }
      & .mat-calendar {
      }

      & .date-before {
        width: 4rem;
        & span {
          content: url("../../../../../../public/date.svg");
          width: 2rem;
          text-indent: -9999px;
        }
      }

      & .date-after {
        width: 4rem;
        & span {
          content: url("../../../../../../public/date.svg");
          width: 2rem;
          text-indent: -9999px;
        }
      }
      }

      & .selectors-ctnr {

        & .select-label-ctnr {
          & label {
            font-size: 0.5rem;
          }
          & select {
            width: 4rem;
            & option {
              font-size: 0.5rem;
            }
          }
        }
      }
      & .submit-container {
        & button {

        }
      }
    }
    }

  }
}
}
