@use '../../../style/mixin' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  & img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
  }
  & .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    & button {
      @include btn1;
    }
  }
}

