@use '../../../style/mixin' as *;
@use '../../../style/media' as *;

:host {
  & .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem 0.8rem 1rem ;
    background-color: $sidebar-nav;
    & .header-left {
      @include Arvo-regular(color, white);
      font-size: 1.5rem;
      cursor: pointer;
      & span {
        font-size: larger;
        font-weight: 700;
        color: $neon-orange;
      }
    }

    & .header-right {
      display: flex;
      gap: 2rem;
      align-items: center;
      & nav {
        & ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style-type: none;
        & li {
          color: white;
          & a {
            @include Arvo-bold-italic;
            color: inherit;
            font-size: 1.2rem;

          }
           &:nth-child(even) {
              color: $neon-orange;
            }
        }
      }
      }
      & button {
        display: flex;
        align-items: center;
        border-radius: 25px;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s;
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}
