@use '../../../style/mixin' as *;

:host {
  width: 15rem;
  background-color: $sidebar-nav;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  transition: all 0.4s ease;
  & .sidebar-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    & i {
      cursor: pointer
    }

    & button {
      background-color: inherit;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  & .sidebar-routes-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    padding: 0;
    & li {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0rem 1rem 0rem 1rem;
      & a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
      }

      & .li-icon {
        color: white;
      }

      &:hover {
        background-color: white;
                border-radius: 10px;
              & a {
        color: black;
      }

      & .li-icon {
        color: black;
      }
      }
    }
  }
}
