:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    & h1 {
      color: #007bff;
    }
    & p {
        font-size: 18px;
    }
}

}

@media (max-width: 750px) {
:host {
  & .container {
    & h1 {
      font-size: 1rem;
    }
    & p {
      font-size: 0.7rem;
    }
}

}
}

@media (max-width: 550px) {
:host {
  & .container {
    & h1 {
      font-size: 0.7rem;
    }
    & p {
      font-size: 0.5rem;
    }
}

}
}

@media (max-width: 450px) {
:host {
  & .container {
    padding: 1rem;
    & h1 {
      font-size: 0.6rem;
    }
    & p {
      font-size: 0.45rem;
    }
}

}
}

@media (max-width: 400px) {
:host {
  & .container {
    padding: 0.5rem;
    & h1 {
      font-size: 0.55rem;
    }
    & p {
      font-size: 0.4rem;
    }
}

}
}



