@use '../../../style/mixin' as *;
@use '../../../style/media' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.footer-container {
/*    position: absolute;
  bottom: 0px;
  left: 0px;  */
  display: inline-flex;
  flex-direction: column;
  background-color: $black-footer;
  color: $white-font;
  width: 100%;
  //footer header
  & .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(2.2vw + 2.2vh);
    border-bottom: white;
    padding-left: calc(1vw + 1vh);
    padding-right: calc(1vw + 1vh);
    & span {
      font-size: 1rem;
    }
    & .social-icons-container {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      gap: calc(0.9vw + 0.9vh);
      & .social-icons {
        width: calc(1vw + 1vh);
      }

      & .social-icons svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  //footer main grid
  .main-footer-section {
    padding-left: calc(1vw + 1vh);
    padding-right: calc(1vw + 1vh);
    .main-footer-section-grid {
      display: grid;
      grid-template-columns: repeat(4, calc(11vw + 11vh));
      justify-content: center;
      column-gap: 3%;

      & .main-footer-section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        & h6 {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: calc(0.1vw + 0.1vh);
          text-wrap: wrap;
          font-size: 1rem;
          margin-bottom: calc(0.2vw + 0.2vh);
        }

        & p {
          font-size: 0.7rem;
        }
      }

      & .main-footer-section-central-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        & h6 {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: calc(0.1vw + 0.1vh);
          font-size: 1rem;
          margin-bottom: calc(0.2vw + 0.2vh);
        }

        & p {
          font-size: 1rem;
          & a {
            color: $white-font;
          }
        }
      }

      &  .main-footer-section-central-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
                gap: 1rem;
        & h6 {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: calc(0.1vw + 0.1vh);
          font-size: 1rem;
          margin-bottom: calc(0.2vw + 0.2vh);
        }

        & p {
          font-size: 1rem;
          & a {
            color: $white-font;
          }
        }
      }

      &  .main-footer-section-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
                gap: 1rem;
        & :nth-child(3) {
          font-size: 1rem;
        }
        & h6 {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: calc(0.1vw + 0.1vh);
          font-size: 1rem;
          margin-bottom: calc(0.2vw + 0.2vh);
        }

        & p {
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: calc(0.1vw + 0.1vh);
            & svg {
              width: calc(1vw + 1vh);
            }
        }
      }
    }
  }

  //footer low section
  .low-footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(2.2vw + 2.2vh);
    & span {
      margin-right: calc(0.5vw + 0.5vh);
      font-size: 1rem;
    }
    & a {
      color: $white-font;
      font-size: 1rem;
    }
  }

}

@media (max-width: 1100px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {
          padding-top: 2rem;
          padding-bottom: 2rem;
      .main-footer-section-grid {


        & .main-footer-section-left {
          & h6 {

          }

          & p {

          }
        }

        & .main-footer-section-central-left {

          & h6 {

          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {
          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {

          }
          & h6 {

          }

          & p {
              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {

      }
      & a {
      }
    }

  }
}

@media (max-width: 900px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {
          padding-top: 2rem;
          padding-bottom: 2rem;
      .main-footer-section-grid {


        & .main-footer-section-left {
          & h6 {
            font-size: 0.85rem;
          }

          & p {

          }
        }

        & .main-footer-section-central-left {

          & h6 {
            font-size: 0.85rem;
          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {
            font-size: 0.85rem;
          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {
            font-size: 0.6rem;
          }
          & h6 {
            font-size: 0.85rem;
          }

          & p {
            font-size: 0.85rem;
              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {

      }
      & a {
      }
    }

  }
}

@media (max-width: 700px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {

      .main-footer-section-grid {


        & .main-footer-section-left {
          & h6 {
            font-size: 0.75rem;
          }

          & p {
            font-size: 0.6rem;
          }
        }

        & .main-footer-section-central-left {

          & h6 {
            font-size: 0.75rem;
          }

          & p {
            font-size: 0.7rem;
            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {
            font-size: 0.75rem;
          }

          & p {
            font-size: 0.7rem;
            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {

          }
          & h6 {
            font-size: 0.75rem;
          }

          & p {
            font-size: 0.7rem;
              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {

      }
      & a {
      }
    }

  }
}

@media (max-width: 600px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {

      .main-footer-section-grid {


        & .main-footer-section-left {
          & h6 {

          }

          & p {

          }
        }

        & .main-footer-section-central-left {

          & h6 {

          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {

          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {
            font-size: 0.47rem;
          }
          & h6 {

          }

          & p {

              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {
        font-size: 0.75rem;
      }
      & a {
        font-size: 0.75rem;
      }
    }

  }
}

@media (max-width: 550px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {

      .main-footer-section-grid {

              column-gap: 1%;
        & .main-footer-section-left {
          & h6 {
            font-size: 0.65rem;
          }

          & p {
            font-size: 0.45rem;
          }
        }

        & .main-footer-section-central-left {

          & h6 {
            font-size: 0.65rem;
          }

          & p {
            font-size: 0.53rem;
            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {
            font-size: 0.6rem;
          }

          & p {
            font-size: 0.53rem;
            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {

          }
          & h6 {
            font-size: 0.65rem;
          }

          & p {
            font-size: 0.53rem;
              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {

      }
      & a {

      }
    }

  }
}

@media (max-width: 450px) {
  .footer-container {

    & .footer-header {

      & span {
        font-size: 0.75rem;
      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {

      .main-footer-section-grid {
          grid-template-columns: repeat(4, 20vw);
          column-gap: 2%;
        & .main-footer-section-left {
          & h6 {

          }

          & p {
            font-size: 0.4rem;
          }
        }

        & .main-footer-section-central-left {

          & h6 {
            font-size: 0.5rem;
          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {

          }

          & p {

            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {
            font-size: 0.4rem;
          }
          & h6 {

          }

          & p {

              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {
        font-size: 0.6rem;
      }
      & a {
        font-size: 0.6rem;
      }
    }

  }
}

@media (max-width: 380px) {
  .footer-container {

    & .footer-header {

      & span {

      }
      & .social-icons-container {

        & .social-icons {

        }

        & .social-icons svg {

        }
      }
    }
    //footer main grid
    .main-footer-section {

      .main-footer-section-grid {

        & .main-footer-section-left {
          & h6 {
            font-size: 0.4rem;
          }

          & p {
            font-size: 0.4rem;
          }
        }

        & .main-footer-section-central-left {

          & h6 {
            font-size: 0.4rem;
          }

          & p {
            font-size: 0.4rem;
            & a {

            }
          }
        }

        &  .main-footer-section-central-right {

          & h6 {
            font-size: 0.4rem;
          }

          & p {
            font-size: 0.4rem;
            & a {

            }
          }
        }

        &  .main-footer-section-right {

          & :nth-child(3) {

          }
          & h6 {
            font-size: 0.4rem;
          }

          & p {
            font-size: 0.4rem;
              & svg {

              }
          }
        }
      }
    }

    //footer low section
    .low-footer-section {

      & span {

      }
      & a {

      }
    }

  }
}

