@use '../../../style/mixin' as *;

:host {
    & .mat-mdc-card {
      padding: 1rem 0.5rem 1rem 0.5rem;
      & form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & .date-input-ctnr {
        display: flex;
        justify-content: space-between;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        & .date-range-icon {
          display: none !important;
        }
        gap: 1rem;
      & .date-before {
        width: 4rem;
        & span {
          content: url("../../../../public/date.svg");
          width: 2rem;
          text-indent: -9999px;
        }
      }

      & .date-after {
        width: 4rem;
        & span {
          content: url("../../../../public/date.svg");
          width: 2rem;
          text-indent: -9999px;
        }
      }
      & .mat-calendar {
        z-index: 9999 !important;
      }

      }

      & .selectors-ctnr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
        & .select-label-ctnr {
          display: flex;
          flex-direction: column;
          & label {
            font-size: 0.5rem;
          }
          & select {
            width: 4rem;
            & option {
              font-size: 0.5rem;
            }
          }
        }
      }
      & .submit-container {
        display: flex;
        justify-content: center;
      }
    }
    }
}
