@use '../../../style/mixin' as *;

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  & .slider {
    position: relative;
    height: 100%;
    width: 100%;

    & .arrow {
      position: absolute;
      top: 50%;
      font-size: 3rem;
      user-select: none;
      cursor: pointer;
    }

    & .arrow.right {
      right: -10%;
    }

    & .arrow.left {
      left: -10%;
    }
    & .slider-overflow {
      overflow: hidden;
      height: 100%;
      transition: transform ease-in-out 0.3s;
      & .slides-ctnr {
        display: flex;
        height: 90%;
        transition: transform ease-in-out 0.3s;
        & .slide {
          height: 100%;
          border-radius: 10px;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          & h4 {
            font-size: 1.5rem;
            color: $primary-color;
          }

          & img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
            border: 5px solid $primary-light;
          }

          & p {
            font-style: italic;
            margin-bottom: 20px;
            position: relative;
            &::before, &::after {
              content: '"';
              font-size: 2rem;
              color: $primary-light;
              opacity: 0.5;
            }
          }

          & span {
              color: $gray-dark;
              font-size: 0.9rem;
          }
        }
      }
      & .dots-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        & .dot {
          font-size: 3rem;
          cursor: pointer;
        }

        & .dot.active {
          color: white;
          -webkit-text-stroke-color: black;
          -webkit-text-stroke-width: 0.5px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
:host {

  & .slider {


    & .arrow {

    }

    & .arrow.right {
     right: -17%;
    }

    & .arrow.left {
     left: -17%;
    }
    & .slider-overflow {

      & .slides-ctnr {

        & .slide {

          & h4 {

          }

          & img {

          }

          & p {
          font-size: 0.7rem;
            &::before, &::after {

            }
          }

          & span {

          }
        }
      }
      & .dots-container {

        & .dot {
          font-size: 2rem;
        }

        & .dot.active {

        }
      }
    }
  }
}
}

@media (max-width: 450px) {
:host {

  & .slider {


    & .arrow {

    }

    & .arrow.right {
     right: -20%;
    }

    & .arrow.left {
     left: -20%;
    }
    & .slider-overflow {

      & .slides-ctnr {

        & .slide {

          & h4 {
            font-size: 1rem;
          }

          & img {

          }

          & p {

            &::before, &::after {

            }
          }

          & span {

          }
        }
      }
      & .dots-container {

        & .dot {

        }

        & .dot.active {

        }
      }
    }
  }
}
}
